body{
  font-size:0.625em;
  .wrapper{
  	/*
  	* Typography - general
  	*/
  	h1{
      @include fixFont(700, 2.5em);
    }
  	h2{
      @include fixFont(700, 2em);
    }
  	h3{
      @include fixFont(700, 1.8em);
    }
  	h4{
      @include fixFont(700, 1.5em);
    }
  	h5{
      @include fixFont(400, 1em);
    }
  	p{
      @include fixFont(300, 1em);
    }
    /*
    * Links - general
    */
    a {
      text-decoration: none;
      color: $primaryColor;
      &:hover {
        color: $darkColor;
      }
      &:active {
        color: $compColor;
      }
    }
		header{
			padding: 2em 0 1.5em 0;
			text-align: center;
			background-color: $darkBackground;
			.headcontainer{
				.logo{
					float: left;
					width: 80%;
					text-align: left;
					padding-left: 5%;
					box-sizing: border-box;
					h1{
						margin: 0 0 0 0;
						.headlink{
							color: $brightText;
							@include fixFont(900, 1em);
							text-decoration: none;
						}
					}
				}
				#menu-icon{
					box-sizing: border-box;
					text-align: right;
					padding-right: 5%;
					width: 20%;
					float: left;
					.fa{
						color: white;
					}
				}
			}
		}
		nav{
			width: 100%;
			padding: 0 0 0 0;
			background-color: $compColor;
      text-align: center;
			ul{
				list-style: none;
				margin: 0 0 0 0;
				padding: 0 0 0 0;
				li{
					display: block;
					a{
            color: $brightText;
            @include fixFont(400, 2em);
					}
				}
			}
		}
		main{
			text-align: center;
			article{
				background-color: $primaryColor;
        // @include border(3px, $primaryColor);
				margin: 3em 0 3em 0;
				padding: 5% 5% 5% 5%;
				text-align: left;
        @include clearfix;
        a{
          color: $brightText;
        }
				img{
					width: 45%;
          float: left;
          margin-right: 5%;
				}
			}
		}
		aside{
			text-align: center;
			ul{
				list-style: none;
				padding: 0 0 0 0;
			}
		}
		footer{
			text-align: center;
			color: $brightText;
      padding: 1em 0 1em 0;
			background-color: $darkBackground;
			// @include border('1px', red);
		}
	}
}